body {
    padding: 0;
    margin: 0;
    background-image: url("images/background-.jpg");
    background-size: cover;
}

#page-container div {
    display: none;
}

#page-container {
    margin: 1%;
}

s {
    color: red;
}

#_pluto {
    font-size: 5em;
    color: red;
}

h5 {
    font-size: 3.5em;
    margin: 1%;
}

#blend-earth-img {
    width: 35%;
    float: right;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

#page-container div {
    display: none;
}

#page-container {
    margin: 1%;
}

s {
    color: red;
}

#_pluto {
    font-size: 5em;
    color: red;
}

h5 {
    font-size: 3.5em;
    margin: 1%;
}

#blend-earth-img {
    width: 35%;
    float: right;
}