#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.planet-info {
    color: darkslateblue;
    display: none;
}

.planet-buttons {
    position: relative;
    background-color: white;
    border: none;
    /* width: 20vw; */
    width: 250px;
}


/* .highlighted-planet-button {
    border: 2px solid red;
    border-radius: 5px;
} */